# Ignore files
debugger.css
gulpfile.js
rtl.css
phpcs.xml.dist
index.html
Resume of Jhonson V. Trazona.pdf

# Ignore file extensions
*.json
*.zip
*.txt
*.pdf

# Ignore dev folder(s)
node_modules/
dist/
languages/
exclude/
img/icomoon/
js/exclude/
img/exclude/
img/essential/