// Responsive Breakpoints (Use EM)
$lg: 75em;
$md: 61.9em;
$sm: 47.9em;
$xs: 35.9em;

// Media Queries Manager
@mixin respond($bp) {
    @if($bp == lg) {
        @media only screen and (min-width: $lg) { @content; }
    } @else if($bp == md) {
        @media only screen and (max-width: $md) { @content; }
    } @else if($bp == sm) {
        @media only screen and (max-width: $sm) { @content; }
    } @else if($bp == xs) {
        @media only screen and (max-width: $xs) { @content; }
    }
}

// Usage
// @include respond(lg){ ... }
// @include respond(md){ ... }
// @include respond(sm){ ... }
// @include respond(xs){ ... }


