// fonts
$header-font: 'Montserrat', sans-serif;
$display-font: 'Lato', sans-serif;

// primary colors
$primary-color: #B0D100;
$primary-light-color: #BBDE00;
$primary-dark-color: #9BB700;

//accent colors
$accent-light-color: #93B0B4;
$accent-dark-color: #C9483D;

// shades colors
$shades-light: #FAF9FA;
$shades-dark: #2A2B37;

// light grey
$grey-light-1: #f9f9f9;
$grey-light-2: #f4f2f2;
$grey-light-3: #f0eeee;
$grey-light-4: #CCCCCC;

// dark grey
$grey-1: #999999;
$grey-2: #777777;
$grey-3: #48494b;
$grey-4: #3b3d40;
