.footer {
    padding-top: 5rem;
    color: $grey-2;
    background-color: #141414;
    position: relative;
    // border-top: thin solid rgba($primary-color, .15);

    &__columns {
        padding-bottom: 2.5rem;
        display: flex;
        justify-content: space-between;
        font-size: 1.4rem;

        & > div h5 {
            margin-bottom: 1rem;
            color: $primary-color;
            font-size: normal;
            text-align: left;            
        }

        & > div ul {
            list-style: none;

            li {
                & > h5 {
                    margin-top: 1.5rem;  
                    margin-bottom: 1rem;                  
                }
                
                &:not(:last-child) {
                    margin-bottom: .5rem;
                }
            }
        }
    }

    &__story {
        width: 30%;

        h1 {
            color: white;
            text-transform: none;
            font-weight: normal;
            position: relative;
            margin-bottom: 1.5rem;
            transition: all .2s;

            &:after {
                content: "";
                position: absolute;
                bottom: -.5rem;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                height: .15rem;                                 
                background-color: $primary-light-color;                
                // background-color: $accent-dark-color;                
            }
        }
    }

    &__about {
        font-size: 1.6rem;
        margin-bottom: 1rem;
        text-align: justify;
        // text-align: left;
        text-indent: 3rem;

        &:nth-of-type(1) {
            margin-top: 2.5rem;
        }
    }

    &__social {
        display: flex;
        justify-content: space-between;
        padding-top: .5rem;

        &-icon {
            width: 2.5rem;
            height: 2.5rem;
            fill: $grey-light-1;
        }

        li {
            transition: all .3s;

            &:not(:last-child) {
                margin-right: .5rem;
            }

            &:hover {
                transform: translateY(-.5rem);
            }
        }
    }
}

.copyright {
    margin-top: 2.5rem;
    padding-top: 2.5rem;    
    padding-bottom: 2.5rem;
    font-size: 1.2rem;
    text-align: center;
    background-color: #101010;
    border-top: .1rem solid rgba(#333333, .3);
}